.users-div{
    margin: auto;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.users-div div{
    display: flex;
    justify-content: space-between;
}
.users-div button{
    min-width: 70px;
}
